## .gitignore.txt 파일 필요성
# 출처 : https://blog.naver.com/masichyun77/222396930805

# 모든 .class files  무시
*.c1ass

# "*.class"에서 lib.class 제외
!lib.class

# 'temp-'로 시작되는 모든 json 파일 무시
temp-*.json

# 하위 디렉토리는 아니고 현행 디렉토리내 build.log파일 무시
/build.log파일

# 마지막에 (/)슬래쉬가 있는 폴더의 temp 무시
temp/
